body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

header {
  height: 70vh;
  background-image: url('images/texture.jpg');
  background-size: cover;
}

header nav {
  position: absolute;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .icone {
  filter: invert(100%);
}

#logo {
  padding-left: 9%;
  height: 75px;
}

#hamburger {
  padding-right: 9%;
  height: 25px;
}

#slogan {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#slogan h2 {
  color: white;
  font-family: 'Arial';
  font-size: 2.5rem;
}

.sous-titre {
  margin: 0;
  text-decoration: underline;
  font-size: 1.5rem;
}
.sous-titre a {
  color: white;
}

#projets {
  display: flex;
  justify-content: center;
  align-items: center;
}

#projets .contenu {
  background-color: #e2e3e5;
  margin: 25px;
  width: 90%;
  padding: 75px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#projets h2 {
  font-size: 3rem;
}

#cliniques {
  height: 250px;
  width: 60%;
  background-image: url('images/texture.jpg');
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  opacity: 0.8;
}

#cliniques p {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: left;
}

#cliniques a {
  color: white;
}

#cliniques img {
  height: 75px;
}

#informations-generales {
  margin: 75px;
  font-family: 'Open Sans', sans-serif;
}

#informations-generales h3 {
  font-size: 2rem;
  text-transform: unset;
}

#informations-generales h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: unset;
}

#approche {
  background-color: black;
  color: white;
  text-align: left;
  padding: 75px 25%;
}

#approche h2 {
  font-size: 2.5rem;
}

#logos-partenaires {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5% 0;
}

.ligne-logos {
  display: flex;
  justify-items: center;
  align-items: center;
}

.ligne-logos img {
  height: 60px;
  margin: 15px 5vw;
  filter: grayscale(1);
}

footer {
  background-color: black; 
  color: white;
}

@media only screen and (min-width: 600px) {

}
