#container {
  max-width: 500px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Courier Prime', monospace;
}

h2::before {
  content: '- ';
}

p, li {
  font-family: 'Montserrat', sans-serif;
}

li::after {
  content: ';';
}

.nom {
  font-weight: bold;
}
