#logo {
  width: 100%;
}

#container {
  max-width: 520px;
  margin: 10px auto;
}

h1, h2, h3 {
  font-family: 'Courier Prime', monospace;
}

h2::before {
  content: '- ';
}

h3 {
  border-top: 1px solid black;
  width: 20%;
  margin-bottom: 5px;
}

h3+p {
  margin: 0;
}

p, li {
  font-family: 'Montserrat', sans-serif;
}

li::after {
  content: ';';
}

.nom {
  font-weight: bold;
}
