#logo {
  width: 100%;
}

#container {
  width: 520px;
  margin: 10px auto;
  padding-bottom: 25px;
}

h1, h2, h3 {
  font-family: 'Courier Prime', monospace;
}

h2::before {
  content: '- ';
}

h3 {
  border-top: 1px solid black;
  width: 20%;
  margin-bottom: 5px;
}

h3+p {
  margin: 0;
}

p, li {
  font-family: 'Montserrat', sans-serif;
}

li::after {
  content: ';';
}

.nom {
  font-weight: bold;
}

@media only screen and (max-width: 550px) {
  #container {
    width: 90%;
    font-size: 1.5rem;
  }
}

