$bg-color: #f2f2f2;
$text-color: black;
$link-hover-color: #6e6e6e;

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: $text-color;
    background-color: $bg-color;
}

a {
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(124, 124, 124);
    margin: 1em 10%; //80$ width
    padding: 0;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: none;

    a {
        font-family: 'Ubuntu Mono', monospace;
        color: $text-color;
        float: left;
        text-align: center;
        padding: 1em;
        font-size: 1.2em;
        line-height: 55px;
        transition: .35s all ease;

        &:hover {
            color: $link-hover-color;
        }
    }

    .nav-hub-logo {
        height: 55px;
    }

    .navigation-links {
        float: right;
    }
}

.header {
    .liaisons-logo {
        font-family: 'Ubuntu Mono', monospace;
        font-size: 3em;
        overflow: hidden;
        letter-spacing: .35em;
        border-right: .15em solid darkgrey; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        animation: 
            typing 3.5s steps(19, end),
            blink-caret .5s step-end infinite;
    }
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }