$bg-color: #f2f2f2;
$bg-navigation-color: #f2f2f2cc;
$text-color: black;
$link-hover-color: #6e6e6e;
$title-letter-spacing: 0.085em;

@mixin breakpoint($point) {
  @if $point == mobile {
    @media (min-width: 320px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  color: $text-color;
  background-color: $bg-color;
}

h1,
h2,
h3 {
  font-family: "Ubuntu Mono", monospace;
  letter-spacing: $title-letter-spacing;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 25px;

  @include breakpoint(tablet) {
      padding: 25px 75px;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(124, 124, 124);
  margin: 1em 10%; //80% width
  padding: 0;
}

.navigation {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: $bg-navigation-color;
  z-index: 10;
  height: 55px;

  .nav-hub-logo {
    width: 40px;
    padding: 10px 0;
    margin: 0 auto;
    img {
      width: 100%;
    }

    @include breakpoint(tablet) {
      margin: 0;
      height: 45px;
      padding: 10px .5em;
    }
  }

  .navigation-links {
    display: none;

    @include breakpoint(tablet) {
      display: block;
      position: absolute;
      right: 0;
      top: 1em;
      font-family: "Ubuntu Mono", monospace;
      font-size: 1.2em;
      letter-spacing: $title-letter-spacing;
      transition: .35s all ease;

      a {
          color: $text-color;
          padding: 0 .5em;
          &:hover {
              color: $link-hover-color;
          }
      }
    }
  }
}

.header {
  padding: 20% 10%;
  .liaisons-logo {
    display: block;
    margin: auto;
    width: 100%;
  }

  .keywords {
    font-family: "Ubuntu Mono", monospace;
    color: $text-color;
    font-size: 1.2em;
    text-align: center;
    padding: 25px 0 0 0;
  }
}

.mission {
  color: $bg-color;
  background-color: #acacac;
  padding: 100px 10%;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
}

.conferences {
  .upcoming-conference {
    position: relative;

    .upcoming-conference-teaser {
        background-image: url("../../img/upcoming_conference_banner.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100px;
        margin: 0;

        h3 {
            color: $bg-color;
            line-height: 100px;
            vertical-align: middle;
            font-size: .9em;
            margin: 0;

            @include breakpoint(tablet) {
                font-size: 1em;
            }
        }
    }

    .upcoming-conference-desc {
        background-color: #acacac;
        margin: 0;

        p {
            padding: 1em 2em;
            font-size: .9em;
            color: $bg-color;
            margin: 0 0 10px 0;
        }


    //   @include breakpoint(tablet) {
    //     width: 92%;
    //     height: 80%;
    //     background-color: rgba(0, 0, 0, 0.322);
    //     color: $bg-color;
    //     opacity: 0.75;
    //     position: absolute;
    //     bottom: 4%;
    //     padding: 4%;
    //   }
    }

    .btn-signup {
        font-family: "Ubuntu Mono", monospace;
        font-size: 1.1em;
        background-color: #6e6e6e;
        border: none;
        color: $bg-color;
        border-radius: 10px;
        padding: 10px;
        letter-spacing: $title-letter-spacing;

        &:hover {
            background-color: #9c9b9b;
        }

        &:active {
            background-color: #3d3d3d;
        }
    }
  }
}
