body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  color: black;
  background-color: #f2f2f2;
}

h1,
h2,
h3 {
  font-family: "Ubuntu Mono", monospace;
  letter-spacing: 0.085em;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 25px;
}

@media (min-width: 768px) {
  section {
    padding: 25px 75px;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #7c7c7c;
  margin: 1em 10%;
  padding: 0;
}

.navigation {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #f2f2f2cc;
  z-index: 10;
  height: 55px;
}

.navigation .nav-hub-logo {
  width: 40px;
  padding: 10px 0;
  margin: 0 auto;
}

.navigation .nav-hub-logo img {
  width: 100%;
}

@media (min-width: 768px) {
  .navigation .nav-hub-logo {
    margin: 0;
    height: 45px;
    padding: 10px .5em;
  }
}

.navigation .navigation-links {
  display: none;
}

@media (min-width: 768px) {
  .navigation .navigation-links {
    display: block;
    position: absolute;
    right: 0;
    top: 1em;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1.2em;
    letter-spacing: 0.085em;
    -webkit-transition: .35s all ease;
    transition: .35s all ease;
  }
  .navigation .navigation-links a {
    color: black;
    padding: 0 .5em;
  }
  .navigation .navigation-links a:hover {
    color: #6e6e6e;
  }
}

.header {
  padding: 20% 10%;
}

.header .liaisons-logo {
  display: block;
  margin: auto;
  width: 100%;
}

.header .keywords {
  font-family: "Ubuntu Mono", monospace;
  color: black;
  font-size: 1.2em;
  text-align: center;
  padding: 25px 0 0 0;
}

.mission {
  color: #f2f2f2;
  background-color: #acacac;
  padding: 100px 10%;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100px;
}

.conferences .upcoming-conference {
  position: relative;
}

.conferences .upcoming-conference .upcoming-conference-teaser {
  background-image: url("../../img/upcoming_conference_banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100px;
  margin: 0;
}

.conferences .upcoming-conference .upcoming-conference-teaser h3 {
  color: #f2f2f2;
  line-height: 100px;
  vertical-align: middle;
  font-size: .9em;
  margin: 0;
}

@media (min-width: 768px) {
  .conferences .upcoming-conference .upcoming-conference-teaser h3 {
    font-size: 1em;
  }
}

.conferences .upcoming-conference .upcoming-conference-desc {
  background-color: #acacac;
  margin: 0 auto;
  max-width: 450px;
}

.conferences .upcoming-conference .upcoming-conference-desc p {
  padding: 1em 2em;
  font-size: .9em;
  color: #f2f2f2;
  margin: 0 0 10px 0;
}

.conferences .upcoming-conference .btn-signup {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.1em;
  background-color: #6e6e6e;
  border: none;
  color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 0.085em;
}

.conferences .upcoming-conference .btn-signup:hover {
  background-color: #9c9b9b;
  cursor: pointer;
}

.conferences .upcoming-conference .btn-signup:active {
  background-color: #3d3d3d;
}

#mentorat {
  position: relative;
}

#mentorat #helping-hand-img {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../../img/helping-hand-kids-landscape-crop-bw.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../img/helping-hand-kids-landscape-crop-bw.jpg);
}

#mentorat img {
  width: 100%;
  height: auto;
}

#mentorat .img-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=main.css.map */